// fade 动画
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
// 准备进入, 离开完成
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// modal 动画
.down-up-enter-active,
.down-up-leave-active {
  transition: all 0.3s;
}
// 准备进入, 离开完成
.down-up-enter-from,
.down-up-leave-to {
  transform: translateY(100%);
}
